/* generales */

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

nav.navbar .nav-link.active {
  color: var(--primary) !important;
}

/* marcos  */
#home-view .imagenPrincipal {
  width: 538px;
  height: 494px;
  padding-top: 120px ;
}

#home-view .card.card-principal {  
  width: 206px;
  height: 206px;
  background: rgb(255, 255, 255);
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0 ,0.5);
  border:none !important;
}

#home-view .card-principal i {
  color: #007BFF;
}

#home-view .card-principal h4 { 
  font-size: 32px;
  color: black;
}

#home-view .card-group a {
  text-decoration: none;
}

#home-view .titulo {
  font-size: 40px;
  border-bottom:  3px solid #007BFF;
}

#teachers-views .container .tabla-principal {
  border-color:greenyellow;
  border-radius: 10px;  
  Overflow:hidden
}

#teachers-views .container .tabla-principal a {
  border:none;
}

#teachers-views .table-striped tbody tr:nth-of-type(even) {
  background-color:rgba(0, 123, 255, 0.09);
}

#teachers-views .table-striped tbody tr:nth-of-type(odd) {
  background-color:white;
}

#teachers-views .action-icon {
  color: #000000;
}


/* maxi */
#about-view .fondo {
  background-image: url(../assets/elipse.svg);
  background-repeat: no-repeat;
  background-position: bottom -26vh center;
}

#about-view .container-about {
  min-height: calc(100vh - 116px);
}

#subject-view .container .tablaPrincipal {
  border-color:greenyellow;
  border-radius: 10px;
  Overflow:hidden
}

#subject-view .container .tablaPrincipal a {
  border:none;
}

#subject-view .table-striped tbody tr:nth-of-type(even) {
  background-color:rgba(0, 123, 255, 0.09);
} 

#subject-view .table-striped tbody tr:nth-of-type(odd) {
  background-color:white;
}

#subject-view .overflow-hidden {
  border-radius: 0.5rem!important;
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

#subject-view .interspersed {
  background: rgba(0, 123, 255, 0.09);
}

#subject-view .table-primary {
  background-color: rgba(0, 123, 255, 0,09);
}


/* bruno */

#e404 .container-e404 {
  min-height: calc(100vh - 68px);
} 

#e404 .img-404 {
  width: 90%;
}

#e404 .bg-elipse {
  background-image: url(../assets/elipse.svg);
  background-repeat: no-repeat;
  background-position: bottom -18vh center;
}

#student .thead-blue, #course .thead-blue{
  background-color: #007BFF;
  color: #fff;
}

#student .table-radius, #course .table-radius{
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#student thead i, #course thead i{
  color: #fff;
}

#student tbody i, #course tbody i{
  color: #000000;
}

#student thead a, #course thead a{
  cursor: auto;
} 
#subject-view .table-primary{
  background-color: rgba(0, 123, 255, 0,09);
}

#student .table-striped tbody tr:nth-of-type(odd), #course .table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

#student .table-striped tbody tr:nth-of-type(even), #course .table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 123, 255, 0.09);
}

#student .student-table thead {
  font-size: 18px;
}

#student .bloque-iconos{
  min-height: 24px;
}

#student .icono-delete, #student .icono-update{
  cursor: pointer;
}