.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

nav.navbar .nav-link.active {
  color: var(--primary) !important;
}
#home-view .imagenPrincipal {
width: 538px;
height: 494px;
padding-top: 120px ;
}

#home-view .card.cardPrincipal{
  
    width: 206px;
    height: 206px;
    background: rgb(255, 255, 255);
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0 ,0.5);
    border:none !important;
}

#home-view .cardPrincipal i{
  color: #007BFF;
}
#home-view .cardPrincipal h4 { 
    font-size: 34px;
  
  }
  #home-view .titulo {
    font-size: 40px;
    border-bottom:  3px solid #007BFF;
  }  
#about-view .fondo{

    background-image: url(/views/assets/elipse.svg);
    background-repeat: no-repeat;
    background-position: bottom -20vh center;
}

#about-view .container-about{
    
    min-height: 100vh;

}

 #e404 .container-e404{
    min-height: calc(100vh - 68px);
} 

#e404 .img-404{
    width: 90%;
}

#e404 .bg-elipse{
    background-image: url(../assets/elipse.svg);
    background-repeat: no-repeat;
    background-position: bottom -18vh center;
}
#subject-view .overflow-hidden {
    border-radius: 0.5rem!important;
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}
#subject-view .interspersed{

    background: rgba(0, 123, 255, 0.09);
}

#student .student-title h1{
  font-size: 48px;
  line-height: 64px;
  font-weight: normal;
}

#student .btn-md {
  border-radius: 10px;
}

#student .btn-md span{
  position: relative;
}

#student .btn-md span::before{
  content: '+';
  display: inline-block;
  color: #fff;
  position: absolute;
  left: -20px;
}

#student .thead-blue{
  background-color: #007BFF;
  color: #fff;
}

#subject-view .table-primary{
  background-color: rgba(0, 123, 255, 0,09);
}

#student .table-radius{
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#student .student-table thead{
  font-size: 18px;
}

