<div id="about-view">
    <div class="fondo container-fluid container-about">
        <div class="container mt-5"> 
            <div class="row pt-5">
                <div class="col">
                    <img src="/assets/about.svg"  alt="" >
                </div>
                <div class="col">
                    <div>
                        <h3 class="text-center mt-3 mb-3"><b>About</b></h3> 
                    </div>
                    <div class="border border-primary rounded-lg mb-5"></div>
                    <p class="text-center mb-5">Online education system,
                        for the entry of enrolled students,
                        to which a file is designated,
                        with which they will be able to see their academic situation,
                        also carry out procedures, enroll in subjects,
                        to exams and also to know their schedules
                        classes, regularity in the subjects, which
                        will be shown in a table.
                    </p>
                    <p class="text-center"><a href="javascript:loadPage('/')" class="btn btn-primary" role="button">Go Back</a></p>        
                </div>
            </div>
        </div>
    </div>
</div>








