<div id="student">
    <div class="container pl-0">
        <section class="student-title pt-5 mb-4">
            <h1 class="mb-5">Students</h1>
            <button type="button" class="btn btn-primary btn-md px-5">
                <span>New</span>
            </button>
        </section>
        <section class="student-table">
            <table class="table table-bordered table-radius">
                <thead class="thead-blue">
                  <tr>
                    <th class="text-center">ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User</th>
                    <th>File</th>
                    <th class="text-center"><i class="fas fa-edit"></i></th>
                    <th class="text-center"><i class="fas fa-trash-alt"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="text-center" scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td class="text-center"><i class="fas fa-edit"></i></td>
                    <th class="text-center"><i class="fas fa-trash-alt"></i></th>
                  </tr>
                  <tr class="table-primary">
                    <th class="text-center" scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td class="text-center"><i class="fas fa-edit"></i></td>
                    <th class="text-center"><i class="fas fa-trash-alt"></i></th>
                  </tr>
                  <tr>
                    <th class="text-center" scope="row">3</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td class="text-center"><i class="fas fa-edit"></i></td>
                    <th class="text-center"><i class="fas fa-trash-alt"></i></th>
                  </tr>
                  <tr class="table-primary">
                    <th class="text-center" scope="row">4</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td class="text-center"><i class="fas fa-edit"></i></td>
                    <th class="text-center"><i class="fas fa-trash-alt"></i></th>
                  </tr>
                  <tr>
                    <th class="text-center" scope="row">3</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td class="text-center"><i class="fas fa-edit"></i></td>
                    <th class="text-center"><i class="fas fa-trash-alt"></i></th>
                  </tr>
                </tbody>
              </table>
              
        </section>
    </div>
</div>