<div id="subject-view">
  <div>
    <div class="modal" id="create-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div id="create-subject" class="modal-header">
            <h5 class="modal-title">Create subjects</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"> 
            <form id="form-create">
              <div class="form-row">
                <label>Subject</label>
                <input id='subject-new' type="text" class="form-control"  placeholder="Example: Math">
                <div class="invalid-feedback">
                  Please insert a subject.
                </div>
              </div> 
            </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button onclick="subjectController.createSubject()" type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="edit-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit subjects</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"> 
            <form id="form-update" >
              <div class="form-row">
                <label for="validationServer01">Subject</label>
                <input id="subject-edit" type="text" class="form-control" placeholder="Example: Math">
                <div class="invalid-feedback">
                  Please insert a subject.
                </div>
              </div>
              <div class="form-row">
              </div>
            </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button onclick="subjectController.updateSubject()" type="button" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="delete-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete subjects</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>           
          </div>
          <div class="modal-body">
            <p>Do you want to delete this subject?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button onclick="subjectController.deleteSubject()" id="subject-delete" type="button" class="btn btn-primary">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="save-message-subjects" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="alert alert-dismissible fade show" id="alert-create-subject" role="alert">
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <h1>Subjects</h1>
      <button type="button" class="btn btn-primary mt-5 btn-lg px-4" data-toggle="modal" data-target="#create-modal"><i class="fas fa-plus"></i> New</button>
      <p class="text-center float-right"><a href="javascript:loadPage('/')"  class="btn btn-primary mt-5 btn-lg px-4" role="button">Go Back</a></p>
      <table class="table table-bordered tablaPrincipal shadow p-3 table-striped text-center">
        <thead class="bg-primary text-white">
          <tr>
            <th scope="col">ID</th>
            <th scope="col" class="w-75 text-left">Name</th>
            <th scope="col"><i class="fas fa-edit mr-4"></i><i class="fas fa-trash-alt"></i></th>
          </tr>
        </thead>
        <tbody id='table-subject'>
          <tr>
            <th scope="row">1</th>
            <td class="text-left">Math</td>
            <th scope="col"><i class="fas fa-edit mr-4" data-toggle="modal" data-target="#edit-modal"></i> <i class="fas fa-trash-alt" data-toggle="modal" data-target="#delete-modal"></i></th>
          </tr>
          <tr class="interspersed ">
            <th scope="row">2</th>
            <td class="text-left">Physical</td>
            <th scope="col"><i class="fas fa-edit mr-4" data-toggle="modal" data-target="#edit-modal"></i> <i class="fas fa-trash-alt" data-toggle="modal" data-target="#delete-modal"></i></th>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td class="text-left">English</td>
            <th scope="col"><i class="fas fa-edit mr-4" data-toggle="modal" data-target="#edit-modal"></i> <i class="fas fa-trash-alt" data-toggle="modal" data-target="#delete-modal"></i></th>
          </tr>
          <tr class="interspersed">
            <th scope="row">4</th>
            <td class="text-left">Chemistry</td>
            <th scope="col"><i class="fas fa-edit mr-4" data-toggle="modal" data-target="#edit-modal"></i> <i class="fas fa-trash-alt" data-toggle="modal" data-target="#delete-modal"></i></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script> 
  var subjectController = new SubjectsController();
  subjectController.listSubjects(); 
</script> 