<div id="subject-view">
    <div>
        <div class="container mt-5">
            <h1>Subjects</h1>
            <button type="button" class="btn btn-primary mt-5 btn-lg">+ New</button>
            <table class="table mt-4 table-bordered shadow p-3 mb-5 bg-white rounded overflow-hidden">
                <thead class="bg-primary">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Year</th>
                    <th scope="col">Name</th>
                    <th scope="col">Departament</th>
                    <th scope="col"><i class="fas fa-edit"></i> <i class="fas fa-trash-alt"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>First</td>
                    <td>Math</td>
                    <td>Engineering</td>
                    <th scope="col"><i class="fas fa-edit"></i> <i class="fas fa-trash-alt"></i></th>
                  </tr>
                  <tr class="interspersed">
                    <th scope="row">2</th>
                    <td>Second</td>
                    <td>Physical</td>
                    <td>technician</td>
                    <th scope="col"><i class="fas fa-edit"></i> <i class="fas fa-trash-alt"></i></th>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Second</td>
                    <td>English</td>
                    <td>Engineering</td>
                    <th scope="col"><i class="fas fa-edit"></i> <i class="fas fa-trash-alt"></i></th>
                  </tr>
                  <tr class="interspersed">
                    <th scope="row">4</th>
                    <td>First</td>
                    <td>Chemistry</td>
                    <td>Engineering</td>
                    <th scope="col"><i class="fas fa-edit"></i> <i class="fas fa-trash-alt"></i></th>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>