<div id="teachers-views">
    <div class="container">
        <h2>Teachers</h2>
    </div>
    <br>
    <div class="container">
        <button type="button" class="btn btn-primary ">+ NEW</button>
    </div>
    <br>
    <div class="container">
        <table class="table table-bordered tablaPrincipal shadow p-3 ">
            <thead class="btn-primary">
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Birth date</th>
                <th>DNI</th>
                <th>File</th>
                <th>E-mail</th>
                <th>Gender</th>
                <th>
                    <i class="far fa-edit"></i>
                    <i class="fas fa-trash-alt"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <td>1</td>
                <td>Ernesto Gonzalez</td>
                <td>15/09/1996</td>
                <td>36235745</td>
                <td>3516326366</td>
                <td>ernesto@gmail.com</td>
                <td>M</td>
                <td>
                    <i class="far fa-edit"></i>
                    <i class="fas fa-trash-alt"></i>
                </td>
            </tr>
            <tr class="trPar">
                <td>2</td>
                <td>Ernesto Gonzalez</td>
                <td>15/09/1996</td>
                <td>36235745</td>
                <td>3516326366</td>
                <td>ernesto@gmail.com</td>
                <td>M</td>
                <td>
                    <i class="far fa-edit"></i>
                    <i class="fas fa-trash-alt"></i>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ernesto Gonzalez</td>
                <td>15/09/1996</td>
                <td>36235745</td>
                <td>3516326366</td>
                <td>ernesto@gmail.com</td>
                <td>M</td>
                <td>
                    <i class="far fa-edit"></i>
                    <i class="fas fa-trash-alt"></i>
                </td>
            </tr>
            <tr class="trPar">
                <td>4</td>
                <td>Ernesto Gonzalez</td>
                <td>15/09/1996</td>
                <td>36235745</td>
                <td>3516326366</td>
                <td>ernesto@gmail.com</td>
                <td>M</td>
                <td>
                    <i class="far fa-edit"></i>
                    <i class="fas fa-trash-alt"></i>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Ernesto Gonzalez</td>
                <td>15/09/1996</td>
                <td>36235745</td>
                <td>3516326366</td>
                <td>ernesto@gmail.com</td>
                <td>M</td>
                <td>
                    <i class="far fa-edit"></i>
                    <i class="fas fa-trash-alt"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>