<div id="teachers-views">
 <!--modal created-->                
    <div class="modal fade" id="new-teacher" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Created New Teacher</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form id="id-form-create">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Name</label>
                        <input type="text" class="form-control" id='input-name'>
                        <div class="invalid-feedback">
                            Please choose a name.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Last Name</label>
                        <input type="text" class="form-control" id='input-last-name'>
                        <div class="invalid-feedback">
                            Please insert a last name.
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Registration</label>
                        <input type="number" class="form-control" id="input-registration">
                        <div class="invalid-feedback">
                            Please choose a Registration.
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"  onclick="teacherController.createdTeacher()"  >Create</button>
            </div>
        </div>
        </div>
    </div>
            
<!-- Modal update-->
    <div class="modal fade" id="update-teacher" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Teacher</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form id="id-form-update">
                        <div class="form-group">
                        <label for="formGroupExampleInput">Name</label>
                        <input type="text" class="form-control" id="input-name-update">
                        <div class="invalid-feedback">
                            Please insert a name.
                        </div>
                        </div>
                        <div class="form-group">
                        <label for="formGroupExampleInput2">Last Name</label>
                        <input type="text" class="form-control" id="input-last-name-update">
                        <div class="invalid-feedback">
                            Please insert a last name.
                        </div>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Registration</label>
                            <input type="number" class="form-control" id="input-registration-update">
                            <div class="invalid-feedback">
                                Please insert a registration.
                            </div>
                        </div>           
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  onclick="teacherController.updateTeacher()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal delete -->
    <div class="modal fade" id="delete-teacher" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Teacher</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete this Teachers?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"  onclick="teacherController.deleteTeacherok()" >Delete</button>
            </div>
        </div>
        </div>
    </div>
    <!--modal message ok-->
    <div class="modal" id="save-message-teacher" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="alert alert-dismissible fade show" id="alert-create-subject" role="alert">
        </div>
    </div>
    </div>
     <!-- teachers title-->
    <div class="container mt-5"> 
        <h1>Teachers</h1>
    </div>
    <!--botons new and back-->
    <div class="container">
        <button type="button" class="btn btn-primary mt-5 btn-lg px-4" data-toggle="modal" data-target="#new-teacher"><i class="fas fa-plus"></i> New</button>
        <p class="text-center float-right "><a href="javascript:loadPage('/')"  class="btn btn-primary mt-5 btn-lg px-4" role="button">Go Back</a></p>    
    </div>
    <br>
    <!--list teachers    -->
    <div class="container">
        <table class="table table-bordered tabla-principal shadow p-3 table-striped">
            <thead class="bg-primary text-white">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Registration</th> 
                                 
                    <th>
                        <div class="d-flex justify-content-around">
                            <i class="far fa-edit"></i></a>
                            <i class="fas fa-trash-alt"></i>
                        </div>    
                    </th>
                </tr>
                </thead>
            <tbody id="table-teacher">       
            </tbody>
        </table>
    </div>
</div>

<script>
    var teacherController = new TeachersController();
    teacherController.listTeachers()
</script>

