
<div id="e404">
    <div class="container-fluid bg-elipse container-e404 d-flex align-items-center">
        <div class="container">
                <div class="row">
                    <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                            <h1 class="display-2 font-weight-bold">Ups!</h1>
                            <p class="mb-4"> The page you're looking for doesn't exist.</p>
                            <a href="javascript:loadPage('/')" class="btn btn-primary" role="button">Home</a>
                    </div>
                    <div class="col-6">
                        <!-- <div class=""> -->
                            <img src="../../assets/img-e404.svg" alt="" class="img-404 img-fluid">
                        <!-- </div> -->
                    </div>
                </div>
            </div>
    </div>
</div>
